@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutHeaderWhite.cshtml";
}

<!--body-->
<!--hero-->
<div class="about-banner about">
    <div class="container">
        <div class="row">
            <div class="offset-md-6 col-md-6 col-sm-12 text-left">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">About Us</h1>
                        <p class="lead pt-1">
                            OneHand is the largest technology platform for crowdfunding in the
                            healthcare sector of Pakistan. We offer a complete range of free healthcare services
                            including medical and surgical treatments, medical camps and tele-health facility to the
                            underprivileged community of Pakistan. Our goal is to reach the millions of needy
                            patients all over Pakistan who are suffering because of lack of healthcare facilities.
                            We continue to serve the humanity at large by providing the best healthcare in Pakistan.
                        </p>
                        <a href="#" class="pt-3 float-right">
                            <img src="~/images/about/know_more.png" alt="OneHand" height="67">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--hero-->
<!--four bullets-->
<div class="container about">
    <main role="main" class="pt-4 pb-4">

        <div class="row pt-5 four-bullets">
            <a class="col-md-3 col-sm-12 text-center" href="#">
                <img src="~/images/about/global_funds.png" class="img-fluid">
                <h4 class="pt-4">Global funds</h4>
            </a>

            <a class="col-md-3 col-sm-12 text-center" href="#">
                <img src="~/images/about/charity.png" class="img-fluid">
                <h4 class="pt-4">Charity</h4>
            </a>

            <a class="col-md-3 col-sm-12 text-center" href="#">
                <img src="~/images/about/care.png" class="img-fluid">
                <h4 class="pt-4">Care</h4>
            </a>

            <a class="col-md-3 col-sm-12 text-center" href="#">
                <img src="~/images/about/grow_together.png" class="img-fluid">
                <h4 class="pt-4">Grow together</h4>
            </a>
        </div>
    </main>
</div>
<!--four bullets-->
<!--image-text-->
<div class="container-fluid about image-text mb-5">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="~/images/about/our_people_care.png" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12 align-self-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Our people care</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-6">
            <img src="~/images/about/ambitious_to_help.png" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 align-self-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">
                        Ambitious to help
                    </h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img src="~/images/about/one_hand_for_you.png" class="img-fluid">
        </div>
        <div class="col-md-6 col-sm-12 align-self-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">OneHand for you</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-push-6">
            <img src="~/images/about/charity_around_the_world.png" class="img-fluid">
        </div>
        <div class="col-xs-12 col-md-6 col-md-pull-6 align-self-center">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Charity around the world</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--image-text-->
<!--body-->
