@{
    ViewData["Title"] = "Between Needy and Donor";
    Layout = "~/Views/Shared/_LayoutHeaderWhite.cshtml";
}

<!--body-->
<!--image-text-->
<div class="container mt-5 about between image-text mb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="#1">
                <img src="~/images/Between-Donor-and_Needy/one_hand.png" class="img-fluid">
                <p class="active">One hand</p>
            </a>
            <a href="#2">
                <img src="~/images/Between-Donor-and_Needy/needy.png" class="img-fluid">
                <p>Needy</p>
            </a>
            <a href="#3">
                <img src="~/images/Between-Donor-and_Needy/the_donor.png" class="img-fluid">
                <p>The donor</p>
            </a>
            <a href="#4">
                <img src="~/images/Between-Donor-and_Needy/notice.png" class="img-fluid">
                <p>Notice</p>
            </a>
        </div>
        <div class="col-md-8 col-sm-12 p-5">
            <div class="jumbotron jumbotron-fluid" id="1">
                <div class="container">
                    <h1 class="display-4">One hand</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan..
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="2">
                <div class="container">
                    <h1 class="display-4">Needy</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="3">
                <div class="container">
                    <h1 class="display-4">The donor</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="4">
                <div class="container">
                    <h1 class="display-4">Notice</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--image-text-->
<!--body-->