@{
    ViewData["Title"] = "From Their Hands to Yours";
    Layout = "~/Views/Shared/_LayoutHeaderWhite.cshtml";
}

<!--body-->
<!--image-text-->
<div class="container mt-5 about between fromtheirtoyours image-text mb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="#1">
                <p class="active">
                    Introduction
                </p>
            </a>
            <a href="#2">
                <p>
                    Terms of use
                </p>
            </a>
            <a href="#3">
                <p>
                    Abuses and misconduct
                </p>
            </a>
        </div>
        <div class="col-md-8 col-sm-12 p-5">
            <div class="jumbotron jumbotron-fluid" id="1">
                <div class="container">
                    <h1 class="display-4">Introduction</h1>
                    <img src="~/images/Between-Donor-and_Needy/introduction.png" class="img-fluid" style="max-width:90%">
                    <br /><br /><p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan..
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="2">
                <div class="container">
                    <h1 class="display-4">Terms of use</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="3">
                <div class="container">
                    <h1 class="display-4">Abuses and misconduct</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--image-text-->
<!--body-->
