@{
    ViewData["Title"] = "Idea";
    Layout = "~/Views/Shared/_LayoutHeaderWhite.cshtml";
}

<!--body-->
<!--image-text-->
<div class="container mt-5 about between fromtheirtoyours blue image-text mb-5">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <a href="#1">
                <p class="active">
                    The main idea

                </p>
            </a>
            <a href="#2">
                <p>
                    Who benefits from the site?

                </p>
            </a>
            <a href="#3">
                <p>
                    How do you help them?
                </p>
            </a>
            <a href="#4">
                <p>
                    Help them without money?
                </p>
            </a>
        </div>
        <div class="col-md-8 col-sm-12 p-5">
            <div class="jumbotron jumbotron-fluid" id="1">
                <div class="container">
                    <h1 class="display-4">The main idea</h1>
                    <img src="~/images/Idea/the_main_idea.png" class="img-fluid" style="max-width:90%">
                    <br /><br /><p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan..
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="2">
                <div class="container">
                    <h1 class="display-4">Who benefits from the site?</h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="3">
                <div class="container">
                    <h1 class="display-4">How do you help them?</h1>
                    <img src="~/images/Idea/how_do_you_help.png" class="img-fluid" style="max-width:90%">
                    <br /><br /><p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
            <br /><br /><br /><br />
            <div class="jumbotron jumbotron-fluid" id="4">
                <div class="container">
                    <h1 class="display-4">
                        Help them without money?
                    </h1>
                    <p class="lead pt-1">
                        OneHand is the largest technology platform for crowdfunding in the
                        healthcare sector of Pakistan. We offer a complete range of free healthcare services
                        including medical and surgical treatments, medical camps and tele-health facility to the
                        underprivileged community of Pakistan. Our goal is to reach the millions of needy patients
                        all over Pakistan who are suffering because of lack of healthcare facilities. We continue to
                        serve the humanity at large by providing the best healthcare in Pakistan.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--image-text-->
<!--body-->
